<header class="main-header">
  <nav class="navbar navbar-static-top" style="background-color: #805ec0;">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand"><b>Ácmon</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <span *ngIf="isLoggedIn()">
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a [routerLink]="['/empresas']">Empresas</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/cadastro']">Cadastro</a>
            </li>
          </ul>
        </div>
      </span>
      <mt-user-detail></mt-user-detail>
    </div>
  </nav>
</header>