<a class="" style="cursor: pointer">
  <div class=" place-info-box " (click)="emitAddEvent() ">
    <span class="place-info-box-icon ">
      <img [src]="empresa.imagePath" />
    </span>

    <div class="place-info-box-content ">
      <span class="place-info-box-text ">
        {{empresa.nomeRazao}}
      </span>
      <span class="place-info-box-star">
        <i class="glyphicon glyphicon-hourglass"></i> {{empresa.dias}} dias</span>
      <span class="place-info-box-detail ">{{empresa.CNPJ}}</span>
      <span class="place-info-box-btn">
        <button [routerLink]="['/empresas', empresa.id]" type="button" class="btn cadastrar">
          <i class="fa fa-address-card"></i>
          Histórico
        </button>
      </span>
      <span class="place-info-box-detail ">{{empresa.numero}}</span>
      <span class="place-info-box-detail ">{{empresa.email}}</span>

    </div>
  </div>
</a>