<h1>Data de expiração</h1>
<owl-form-field>
  <input owlInput placeholder="" [(ngModel)]="value" (keydown)="onInputConfirm($event)" #inputElm>
</owl-form-field>
<div>
  <button class="example-btn dummy-btn" (click)="onOkClick()">OK</button>
  <button class="example-btn dummy-btn" (click)="onCancelClick()">Cancel</button>
</div>