.dummy-dialog {
    border-radius: 5px;
  }
  
  .custom-dialog-class {
    background-color: rgb(243, 14, 60);
    border-radius: 5px;
  }
  
  .dummy-btn {
    height: 2em;
    padding: .5em;
    width: 5em;
  }