<section class="content-header">
  <h1 style="margin-left: 15px;margin-right: 17px;">
    Empresas
    <a (click)="toggleSearch()" class="search-link pull-right"><i class="fa fa-search"></i></a>
  </h1>

  <div class="row">
    <div class="col-xs-12 search-bar titulo-h1-empresas" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" formControlName="searchControl" class="form-control" placeholder="Qual empresa está procurando?">
        </div>
      </form>
    </div>
  </div>

</section>

<section class="content">

  <div class="col-sm-7 col-xs-12">
    <mt-empresa *ngFor="let empresa of empresas" [empresa]="empresa" (add)="select.addItem($event)"></mt-empresa>
  </div>
  
  <div class="col-md-5 col-xs-12">
    <mt-control #select></mt-control>
  </div>

</section>