<section class="content-header">
  <h1>
    Empresas - Detalhe
  </h1>
</section>
<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-building"></i>

          <h3 class="box-title">{{empresas?.nomeRazao}}</h3>
          <span class="pull-right">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-half-o fa-rotate-250"></i>
            <i class="fa fa-star fa-spin"></i>
            <i class="fa fa-star fa-spin"></i>
            <i class="fa fa-star fa-spin"></i> </span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-sm-3 col-xs-12" *ngIf="empresas">
            <img class="box-img-detail" [src]="empresas?.imagePath" />
          </div>
          <table class="col-sm-8 col-xs-12 font-805">
            <tr>
              <th>CNPJ: </th>
              <th>{{empresas?.CNPJ}}</th>
            </tr>
            <tr>
              <th>Email: </th>
              <th>{{empresas?.email}}</th>
            </tr>
            <tr>
              <th>Telefone: </th>
              <th>{{empresas?.numero}}</th>
            </tr>
            <tr>
              <th>Expira: </th>
              <th>{{empresas?.dataLiberado}}</th>
            </tr>



          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

</section>