.example-container {
    padding: 1rem;
}

.example-wrapper {
    position: relative;
    margin-bottom: 3rem;
}

.example-btn {
    padding: 1em;
    width: 100%;
    max-width: 8em;
    height: 3em;
    background: #ffffff;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    margin: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    display: inline-block;
    outline: none;
    border-radius: 3px;
}