<div class="wrapper">

  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <mt-snackbar></mt-snackbar>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
      </div>
      <strong>MBoss</strong> - Tecnologia&Informação
    </div>
  </footer>
</div>