<label style="font-size: 90%;width: 250px;" class="example-input-wrapper pull-right">

    <span class="example-trigger">
        <i class="fa fa-calendar icon-panel-control" [owlDateTimeTrigger]="n1"></i>
    </span>

    <input placeholder="Data de expiração:" [(ngModel)]="date" [min]="min" [owlDateTime]="n1" style="border-style: solid;border-width: 0 0 1px 0;border-color: #805ec0; width: 110px">

    <owl-date-time [pickerType]="'calendar'" [startAt]="startMoment" [pickerMode]="'dialog'" #n1> </owl-date-time>

    <a> ( {{getDias(date)}} dias ) </a>

    <div class="pull-right">
        <a (click)="increaseQty(date)" class=" fa fa-plus-circle icon-panel-control" [owlTooltip]="'Mais 30 dias!'"></a>
        <a (click)="decreaseQty(date)" class="fa fa-minus-circle icon-panel-control" [owlTooltip]="'Menos 30 dias!'"></a>
        <a (click)="remove()" class="fa fa-times-circle icon-panel-control-remove" [owlTooltip]="'Cancelar alteração!'"></a>
    </div>

</label>