<div class="box box-solid">
  <div class="box-header">
    <i class="glyphicon glyphicon-blackboard"></i>

    <h2 class="box-title">Painel de Controle</h2>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div *ngIf="!empresas().length">
      <p>
        Selecione empresas!
      </p>
    </div>

    <div class="table-responsive" *ngIf="empresas().length">
      <table class="table">
        <tbody>
          <tr *ngFor="let empresa of empresas()">

            <td style="vertical-align: top">{{empresa.menuItem.nomeRazao}} </td>
            <td>

              <owl-input></owl-input>

            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">

    <button (click)="goBack()" type="button" class="btn bloquear">
      <i class="fa fa-ban"></i>
      Bloquear
    </button>

    <a (click)="addCustomer()" [routerLink]=" ['/order']" class="btn liberar">
      <i class="fa fa-bolt"></i>
      Liberar
    </a>
  </div>
</div>