<div class="col-xs-12 col-sm-6" *ngFor="let review of reviews | async">

  <div class="box box-solid">
    <div class="box-header-review with-border" style="color: #805ec0">
      <span class="review-score pull-right">
        <i class="fa fa-hourglass-half"></i> 30 dias</span>
      <div class="user-block">
        <span class="data-empresa-detalhe"> LIBERADO </span>
      </div>
    </div>

    <div class="box-body" style="font-size: 18px;">
      <b>{{review.date | date: 'dd/MM/yyyy'}} - {{review.date | date: 'dd/MM/yyyy'}}</b>
    </div>
  </div>

  <div class="box box-solid">
    <div class="box-header-review with-border">
      <span class="review-score pull-right">
        <i class="fa fa-hourglass-half"></i> 15 dias</span>
      <div class="user-block">
        <span class="data-empresa-detalhe"> BLOQUEADO </span>
      </div>
    </div>

    <div class="box-body" style="font-size: 18px;">
      <b>{{review.date | date: 'dd/MM/yyyy'}}</b>
    </div>
  </div>

</div>