<section class="content-header">
</section>

<section class="content">


  <div class="jumbotron welcome-jumbotron">

    <h1>ÁCMOM</h1>

    <div class="col-sm-12 col-xs-12">
      <div class="place-info-box-text-home">
        <i class="fa fa-star"></i>
        Empresas pendêntes
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="content">

    </div>
    <div *ngIf="isLoggedIn()">
      <a class="btn btn-primary btn-lg" [routerLink]="['/empresas']">Liberar</a>
    </div>
    <div *ngIf="!isLoggedIn()">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Liberar</a>
    </div>
  </div>

</section>